<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<h3>Add new Student</h3>
<form action="" th:action="@{/students/saveStudent}" th:object="${student}" method="post">
    <input type="text" th:field="*{id}" placeholder="Student Id">
    <input type="text" th:field="*{name}" placeholder="Student Name">
    <p th:if="${#fields.hasErrors('name')}" th:class="${#fields.hasErrors('name')} ? error">Invalid Name</p>
    <input type="text" th:field="*{email}" placeholder="Student Email">
    <p th:if="${#fields.hasErrors('email')}" th:class="${#fields.hasErrors('email')} ? error">Invalid Name</p>
    <ul>
        <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error"></li>
    </ul>
    <input type="text" th:field="*{phone}" placeholder="Student Phone">
    <p th:if="${#fields.hasErrors('phone')}" th:class="${#fields.hasErrors('phone')} ? error">Invalid Phone</p>
    <ul>
        <li th:each="err : ${#fields.errors('phone')}" th:text="${err}" class="error"></li>
    </ul>

    <button type="submit">Save Student</button>
</form>

</body>
</html>