<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h3>Products</h3>
<a th:href="@{/products/showNewProductForm}">Add</a>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.category.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{/products/showFormForUpdate/{id}(id=${product.id})}">Update</a>
            <a th:href="@{/products/deleteProduct/{id}(id=${product.id})}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>